name: AI Paper Review
on:
  push:
    paths:
      - '**.tex'
      - '**.md'
      - '**.pdf'

jobs:
  review:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Export REPO
        run: echo "REPO=${{ github.repository }}" >> $GITHUB_ENV

      - name: Debug REPO
        run: |
          echo "Expect REPO=${{ github.repository }}"
          echo "Actual REPO=$REPO"
          env | grep -i REPO || true

      - name: Run AI Academic Paper Reviewer
        uses: toshi0806/ai-academic-paper-reviewer@v1
        with:
          repo: ${{ github.repository }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GEMINI_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          MODEL_CODE: "gemini-2.5-pro"
          LANGUAGE: "Chinese"
          REVIEW_MODE: "ACADEMIC"
          EXCLUDE_PATHS: ""
